.leaflet-container {
  width: 100%;
  height: 100vh;
}

.request-popup .leaflet-popup-content-wrapper {
  border-radius: 0px;
}

.header {
  background-color: #200554;
}

.header > img {
  height: 45px;
}

.video-container {
  height: 50px;
  width: 100%;
}
/* video */
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.gallery-container-popup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
  padding: 0px;
  grid-gap: 10px;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 1s ease;
}

.gallery-item-popup:hover img {
  transform: scale(1.25);
}

.gallery-item-popup:nth-child(1) {
  grid-column-start: span 2;
  grid-row-start: span 2;
}

.gallery-item-popup:nth-child(2) {
  /* grid-column-start: span 3; */
  grid-row-start: span 1;
}

.color-button {
  background-color: #200554;
  color: white;
  width: 300px;
}

.item-title {
  text-align: center;
}
